# <font color='red'> *ABSOLUTE BEGINNER LEVEL* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE AGE AND PRINT OUT THE AGE OF SECOND NAME YOU CHOOSE</font>

In [1]:
friend_dict = {'Biplov':29,
                'Saugen':24,
                'Akash':33}
friend_dict['Saugen']

24

# <font color='blue'> 2. CREATE A DICTIONARY WITH 3 OF YOUR FAVOURITE FRIENDS AND THEIR RESPECTIVE HOURLY WAGE AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [45]:
friend_dict = {'Biplov':2900,
                'Saugen':2400,
                'Akash':3300}
print("The original dictionary is: "+str(friend_dict))
sum = 0
for val in friend_dict.values():
    sum +=val
avg=sum/len(friend_dict)
print("The average salary of my friend is {}".format(avg))

avg22 = (friend_dict["Biplov"]+friend_dict["Saugen"]+friend_dict["Akash"])/3
print("The average salary is {}".format(avg22))

The original dictionary is: {'Biplov': 2900, 'Saugen': 2400, 'Akash': 3300}
The average salary of my friend is 2866.6666666666665
The average salary is 2866.6666666666665

# <font color='blue'> 3. UPDATE THE PREVIOUS DICTIONARY WITH TWO OF YOUR NEXT FAVOURITE FRIENDS AND THEIR RESPECTIVE SALARIES AND OBTAIN THE AVERAGE OF ALL THEIR SALARIES </font>

In [46]:
friend_dict["Laxman"]=4500

In [47]:
print("The new dictionary is:{}".format(friend_dict) )

The new dictionary is:{'Biplov': 2900, 'Saugen': 2400, 'Akash': 3300, 'Laxman': 4500}

In [48]:
sum1=0
for val in friend_dict.values():
    sum1+=val
avg1=sum1/len(friend_dict)
print("The new average salary including my new friend is: {} ".format(avg1))

The new average salary including my new friend is: 3275.0

# <font color='blue'> 4. WRITE A CODE THAT MULTIPLIES ALL THE ELEMENTS IN THE FOLLOWING DICTIONARY

In [34]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300,
           'data4':500}
mul = 1
for values in my_dict.values():
    mul = mul*val
print("The multiplication is: {}".format(mul))

The multiplication is: 62500000000

# <font color='blue'> 5. FOR EACH OF THE STUDENTS LIST BELOW, CALCULATE THE AVERAGE MARK FOR THE MIDTERM AND FINAL EXAMS FOR EACH STUDENT AND PUT THE AVERAGE IN A SEPARATE DICTIONARY ALONG WITH WITH THE STUDENT ID

In [11]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

avg1 = (student_details[0]['midterm']+ student_details[0]['final'])/2
avg2 = (student_details[1]['midterm']+ student_details[1]['final'])/2
avg3 = (student_details[2]['midterm']+ student_details[2]['final'])/2
new_dict = [
            {'student_id':1,'Average':avg1},
            {'student_id':2,'Average':avg2},
            {'student_id':3,'Average':avg2}
           ]
from pprint import pprint
pprint(new_dict)

[{'Average': 72.5, 'student_id': 1},
 {'Average': 79.0, 'student_id': 2},
 {'Average': 79.0, 'student_id': 3}]

# <font color='blue'> 6. REPEAT THE PREVIOUS EXERCISE BUT ADD THE AVERAGE IN A NEW DICTINARY LINE WITH "AVERAGE" AS A KEY

In [33]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

student_details[0]['average'] = (student_details[0]['midterm']+ student_details[0]['final'])/2
student_details[1]['average'] = (student_details[1]['midterm']+ student_details[1]['final'])/2
student_details[2]['average'] = (student_details[2]['midterm']+ student_details[2]['final'])/2

from pprint import pprint
pprint(student_details)

[{'average': 72.5,
  'final': 85,
  'midterm': 60,
  'student_id': 1,
  'subject': 'math'},
 {'average': 79.0,
  'final': 78,
  'midterm': 80,
  'student_id': 2,
  'subject': 'math'},
 {'average': 87.5,
  'final': 85,
  'midterm': 90,
  'student_id': 3,
  'subject': 'math'}]

# <font color='blue'> 7. SQUARE EACH ELEMENT IN THE FOLLOWING DICTIONARY

In [41]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [42]:
dictionary['C1'] = [dictionary['C1'][0]**2, dictionary['C1'][1]**2, dictionary['C1'][2]**2 ]
dictionary['C2'] = [dictionary['C2'][0]**2, dictionary['C2'][1]**2, dictionary['C2'][2]**2 ]
print(dictionary)

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  8. CREATE A LIST OF ALL KEYS AND A LIST OF ALL VALUES AND THE TOTAL SUM OF ALL VALUES

In [57]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [72]:
my_salaries = list(my_salary.values())
my_names = list(my_salary.keys())

In [73]:
print(my_salaries)
print(my_names)

[25, 28, 30]
['alex', 'sally', 'dina']

In [71]:
sum = 0
for val in my_salary.values():
    sum +=val
print("The total sum is {}".format(sum))

The total sum is 83

# <font color='blue'>  9. OBTAIN THE LENGTH OF THE FOLLOWING DICTIONARY AND SORT ITS ELEMENTS

In [83]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}
length = len(my_dict.values())
print("the length of dictionary is: {} ".format(length))
print(sorted(my_dict.values(), reverse = True))

the length of dictionary is: 5
[50, 44, 23, 22, 10]

# <font color='blue'> 10. FILTER OUT VALUES THAT ARE GREATER THAN OR EQUAL TO 30 (ADVANCED)(TO BE COVERED) </font>

In [92]:
my_dictionary = {"Key 1": 20, "Key 2": 30, "Key 3": 50}
for key,values in my_dictionary.items() if value >=30:
    
print(key,values)

SyntaxError: invalid syntax (3530396336.py, line 2)

# <font color='blue'> 11. WHAT WILL THIS CODE GENERATE? </font>

In [86]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True

# NOW YOU SHOULD BE FAMILIAR WITH DICTIONARIES, GREAT JOB!