In [10]:
my_list = ['apple','banana','mango','grapes','watermelon']

In [17]:
for i in my_list:
    print(i)
    if i =='grapes':
        break

SyntaxError: invalid syntax (2523203577.py, line 4)

In [5]:
for i, element in enumerate('mango'):
    print(i,element)

0 m
1 a
2 n
3 g
4 o

In [6]:
for i in range(0,15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [7]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [18]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [22]:
for i in list1:
    if i%2 != 0:
        print(i)

1
3
5
7
9

In [31]:
for i in range(1,11):
    for j in range(1,11):
        print('{}*{} = {}' .format(i,j,i*j))
    print('\n')

1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10


2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20


3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30


4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40


5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50


6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60


7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70


8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80


9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90


10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

In [32]:
color_list = ['black','white','gold']
phone_list = ['iphone','samsung','oppo']

In [33]:
for i in color_list:
    for j in phone_list:
        print('{} {}' .format(i,j))

black iphone
black samsung
black oppo
white iphone
white samsung
white oppo
gold iphone
gold samsung
gold oppo

In [36]:
my_list = [1,2,3,4]
new_list = []
for element in my_list:
    new_list.append(element**2)
print(new_list)

[1, 4, 9, 16]

In [37]:
[element**2 for element in my_list]

[1, 4, 9, 16]

In [38]:
[element*10  for element in my_list]

[10, 20, 30, 40]

In [41]:
my_list = [1,2,3,4,5,6,7,8,9,10]
output_list = []
for elements in my_list:
    if elements%2 == 0:
        output_list.append(elements**2)
print(output_list)

[4, 16, 36, 64, 100]

In [44]:
new_list = [elements**2 for elements in my_list if elements%2==0]
print(new_list)

[4, 16, 36, 64, 100]

In [45]:
Temp_C = [20,25,30,25]
Temp_F = [(i*1.8)+32  for i in Temp_C ]

In [46]:
print(Temp_F)

[68.0, 77.0, 86.0, 77.0]

In [47]:
my_string  = "I am mastering python in 30 days.."
numbers = [ i    for i in my_string  if i.isdigit()  ]

In [48]:
print(numbers)

['3', '0']

In [50]:
i = 0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [51]:
i = 3
while i<=20:
    print(i)
    i+=1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [56]:
i = 3
while True:
    print(i)
    i+=1
    if i>=21:
        break
for i in range(1,21):
            print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20