# <font color='red'> *INTERMEDIATE LEVEL* </font> 
## <font color='red'> FUNCTIONS, FILTERS AND LAMBDA EXPRESSIONS  </font>

# <font color='blue'> 1. WRITE A FUNCTION THAT TAKES A VARIABLE AND SQUARE IT, THEN TEST THE FUNCTION BY TAKING AN INPUT FROM A USER

In [ ]:
def function1(a):
    return a**2

In [24]:
in1 = int(input("Enter a number"))
print("The square is {}".format(function1(in1)))

Enter a number5
The square is 25

# <font color='blue'> 2. WRITE A FUNCTION THAT TAKES 2 VARIABLE AND OBTAIN THE SUMMATION AND MULTIPLICATION, THEN TEST THE FUNCTION BY TAKING AN INPUT FROM A USER (REPEAT USING LAMBDA EXPRESSIONS)

In [11]:
def sum_multiply(x,y):
    summation = x+y
    multiplication = x*y
    return(summation,multiplication)

In [27]:
a = int(input("Enter a number"))
b = int(input("Enter another number"))

Enter a number5
Enter another number10

In [28]:
print("The summation is {} and the multiplication is: {} ".format(sum_multiply(a,b),sum_multiply(a,b)))

The summation is (15, 50) and the multiplication is: (15, 50)

# LAMBDA

In [32]:
a= int(input("enter a number"))
b= int(input("enter another number: "))

enter a number10
enter another number: 20

In [33]:
summation = lambda x,y:x+y
multiplication = lambda x,y:x*y

In [37]:
print("The summation is {} and the multiplication is {}".format(summation(a,b),multiplication(a,b)))

The summation is 30 and the multiplication is 200

#  <font color='blue'>3. WRITE A FUNCTION THAT TAKES A VARIABLE AND RETURNS ITS FACTORIAL </font>

In [4]:
def fun3(a):
    if a==0:
        return 1
    else:
        return a*fun3(a-1)

In [7]:
a = int(input("enter a number.."))
print("The factorial is  {}".format(fun3(a)))

enter a number..3
The factorial is  6

# <font color='blue'> 4. DEVELOP A SCRIPT WHOSE ITEMS ARE SQUARES OF THE ORIGINAL LIST </font>

In [11]:
l1 = [1,2,3,4,5]
l2 =  [x**2 for x in l1]
print(l2)

[1, 4, 9, 16, 25]

# <font color='blue'> 5. WRITE A FUNCTION THAT SQUARES A VARIABLE AND THEN TEST THE FUNCTION USING A LIST OF INTEGER NUMBERS RANGING FROM -20 to 20

In [ ]:
def function1(a):
    return a*a

In [39]:
l1 = range(-20,20)

In [42]:
l2 = list(map(function1, l1))

In [43]:
print(l2)

[400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# <font color='blue'> 6. WRITE 3 FUNCTIONS THAT TAKE THE RADIUS OF A CIRCLE AND RETURN THE DIAMETER, AREA AND CIRCUMFERENCE, TEST THE FUNCTION USING AN INPUT FROM A USER

In [19]:
def function1(r):
    return 2*r
def function2(r):
    return 3.14*2*r
def function3(r):
    return 2*r**2

In [20]:
inp1 = int(input("enter the radius of a circle: "))
print("The diameter is {}. the area is {}. the circumference is {}".format(function1(inp1),function2(inp1),function3(inp1)))

enter the radius of a circle: 5
The diameter is 10. the area is 31.400000000000002. the circumference is 50

# <font color='blue'> 7. WRITE A CODE THAT TAKES A RANGE FROM A USER (UPPER AND LOWER BOUND) AND RETURNS A LIST OF POSITIVE AND EVEN NUMBERS ONLY

In [28]:
in1 = int(input("Enter lower range."))
in2 = int(input("Enter upper range"))
l1 = [*range(in1,in2,1)]
out = list(filter(lambda x:(x>0 and x%2==0), l1))
print(out)

Enter lower range.1
Enter upper range20

TypeError: 'range' object is not callable

# <font color='blue'> 8. USING FILTER AND LAMBDA EXPRESSION, WRITE A CODE THAT TAKES A LIST OF NUMBERS BELOW AND RETURNS EVEN NUMBERS ONLY

In [21]:
numbers = [6, 17, 55, 22, 120, 59, 220, 200, 1]

even = list(filter(lambda x:(x%2==0), numbers))
print(even)

TypeError: 'range' object is not callable

# <font color='blue'> 9. WRITE A FUNCTION THAT TAKES TWO NUMPY MATRICES AND RETURN THE ADDITION, SUBTRACTION, TRANSPOSE, PRODUCT, DOT PRODUCT

In [22]:
def matrix_operations(a,b):
    print("Matrices addition = ",np.add(a,b))
    print("matrices multiplication = ",np.multiply(a,b))
    print("matrices subtraction= ",np.subtract(a,b))
    print("matrices transpose = ",a.T)

In [12]:
import numpy as np
x = np.array([[3,9],[4,10]])
y = np.array([[4,5],[5,20]])
matrix_operations(x,y)

Matrices addition =  [[ 7 14]
 [ 9 30]]
matrices multiplication =  [[ 12  45]
 [ 20 200]]
matrices subtraction=  [[ -1   4]
 [ -1 -10]]
matrices transpose =  [[ 3  4]
 [ 9 10]]

# <font color='blue'> 10. WRITE A FUNCTION THAT TAKES TWO VALUES FROM A USER AND SUM THEM UP. IF NO VALUES ARE PROVIDED, ASSUME DEFAULT VALUES OF 3 AND 5

In [18]:
def summation(x=3,y=5):
    return(x+y)
summation()

8

# <font color='blue'> 11. WRITE A SCRIPT THAT WILL PROMPT A USER FOR A RANGE (MIN/MAX VALUE) AND RETURNS NUMBERS THAT ARE DIVISIBLE BY 4 BUT ARE NOT MULTIPLES OF 3

In [38]:
inp1 = int(input("enter lower range."))
inp2 = int(input("enter higher range."))
list = [*range(inp1,inp2)]
new_list = list(filter(lambda x:(x%4==0 and x%3!=0),list))

enter lower range.1
enter higher range.20

TypeError: 'list' object is not callable

# <font color='blue'> 12. DEFINE AN ENGLISH TO FRENCH TRANSLATOR FUNCTION THAT TAKES AN INPUT FROM A USER AND RETURNS THE TRANSLATION, USE ANY 5 KNOWN WORDS

In [15]:
eng_french = {'happy': 'heureux', 
             'success': 'Succès', 
             'studying': 'en train d\'étudier',
             'traveling': 'en voyageant',
             'love': 'amour'}

In [41]:
def dict_English2French(value):
    try:
        return eng_french[value]
    except KeyError:
        return 'Dictionary does not contain this word'

In [42]:
value = input('Enter a word in english').lower()
print(dict_English2French(value))

Enter a word in englishlove
amour

# NOW YOU SHOULD BE FAMILIAR WITH FUNCTIONS, GREAT JOB!

In [34]:
l1 = [*range(1,10,1)]

In [35]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]