In [2]:
import math
r= int(input("enter the radius of circle"))

enter the radius of circle2

In [8]:
first_name = "dipesh"
last_name= "wosti"
full_name = first_name+" "+ last_name
print(full_name.upper())

DIPESH WOSTI

In [6]:
full_name.upper()

'DIPESH WOSTI'

In [9]:
full_name.split()

['dipesh', 'wosti']

In [10]:
name = "dipesh"
age = 24
full_time_employee = True
print(name,age,full_time_employee)

dipesh 24 True

In [11]:
x=20
y=10
x-y

10

In [13]:
day = input("What is your age?")
print("Here are the words that you entered: ",day.split())

What is your age?my age is 22
Here are the words that you entered:  ['my', 'age', 'is', '22']

In [15]:
name = input("Enter your name in lower case: ")
print("Your name in uppercase: ", name.upper())

Enter your name in lower case: dads
Your name in uppercase:  DADS

In [19]:
email = input("Enter your email address: ")
name = email.split('@')
print("Hello ",name[0])

Enter your email address: wosti.dipesh@gmail.com
Hello  wosti.dipesh

In [1]:
# list comprehensive

In [2]:
print("enter list of temperature seperated by space:")
temp_C = [int(x) for x in input().split()]

temp_F = [  ((i*1.8)+30)  for i in temp_C ]
print(temp_F)

enter list of temperature seperated by space:
5
[39.0]

In [4]:
import string
import random

string.digits
string.ascii_letters
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
qn = input("Enter how are you feeling today here?")
words = qn.split()
words.sort()
for i in words:
    print(i)

Enter how are you feeling today here?dipesh is feeling good today
dipesh
feeling
good
is
today

In [9]:
def my_function(a):
    return a*10
number = int(input("Enter a number for square.."))
my_function(number)

Enter a number for square..5

50

In [10]:
def summation(x=50,y=50):
    return x+y
summation()

100

In [12]:
def greeting_function(name,greeting):
    print("hello {} greeting:{} ".format(name,greeting))
greeting_function('dipesh','hello')

hello dipesh greeting:hello

In [13]:
li = [4,5,1,2,8,5]

In [14]:
y = list(range(1,7))

In [15]:
y

[1, 2, 3, 4, 5, 6]

In [16]:
z = list(range(2,2))

In [17]:
z

[]

In [22]:
max(y)

6

In [23]:
a = tuple(y)

In [24]:
z

[]

In [25]:
a

(1, 2, 3, 4, 5, 6)

In [27]:
type(a)

tuple

In [28]:
my_list1 = [1,3,5]
my_list2 = [2,4,6]
for i,j in zip(my_list1,my_list2):
    print(i+j)

3
7
11

In [33]:
def greeting_function(name,greetings):
    print("Hey {} I wish you {}".format(name,greetings))

friend_list = ['Ram','Shyam','Hari','Gita','Saroj']
greeting_list = ['Best','Love','Good','Excellent','awesome']

for i,j in zip(friend_list,greeting_list):
    greeting_function(i,j)

Hey Ram I wish you Best
Hey Shyam I wish you Love
Hey Hari I wish you Good
Hey Gita I wish you Excellent
Hey Saroj I wish you awesome

# lambda expression

In [35]:
y = lambda x:x**2

In [37]:
y(3)

9

In [38]:
c = lambda x,y,z:x+y+z

In [39]:
c(5,6,7)

18

In [50]:
a= list(range(1,7))
b = list(range(5,10))

In [43]:
def summation(s1,s2):
    return s1+s2
nuw_list = list(map(summation,a,b))

In [52]:
print(a)
print(b)
print(nuw_list)

[1, 2, 3, 4, 5, 6]
[5, 6, 7, 8, 9]
[6, 8, 10, 12, 14, 16]

In [53]:
#map takes function and a list and apply function on our list

In [54]:
def multiply(a,b):
    return a*b
a = [1,2,3,4,5]
b = [6,7,8,9,10]

mul_list = list(map(multiply,a,b))

In [55]:
print(mul_list)

[6, 14, 24, 36, 50]

In [58]:
new_list = list(map(lambda x,y:x+y, a,b))

In [59]:
new_list

[7, 9, 11, 13, 15]

In [61]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

new_result = list(map(lambda x,y:x*y , a,b))
print(new_result)

[6, 14, 24, 36, 50]

In [62]:
a = [1,2,3,4,5]

output_list  =  list(filter(lambda x:(x%2==0) , a))
print(output_list)

[2, 4]

In [65]:
mylist_age = [11,22,34,12,24,14,54,10,12]
out = list(filter(lambda x:(x>=21), mylist_age))
print(out)

[22, 34, 24, 54]